body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgoldenrodyellow;
}
h1, h2, h3, .subheading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
h2; :hover{
   color: orange 
}